<!-- views/view_queue.html -->
<template name="view_queue">
	<div class="container">
		{{> select_view}}
	<div class="jumbotron">
   		<table class="table table-striped">
      		<thead>
        		<tr>
       				<th>
          				Part #
       				</th>          				
       				<th>
            			Due Date		
        			</th>
        			<th>
       					Lot Size
       				</th>
       				<th>
       					Current Station        				
       				</th>
      			</thead>
      			<tbody>
        			<tr>
       					<td>
           					2211985
       					</td>         					
       					<td>
            				11/15/13
          				</td>
          				<td>
           					500/box
       					</td>
       					<td>
            				1
          				</td>
        			</tr>
       				<tr>
          				<td>
           					2211955
       					</td>
       					<td>
          					11/20/13        					
          				</td>
          				<td>
            				300/box
          				</td>
          				<td>
           					4
       					</td>
      				</tr>
   				</tbody>
			</table>
		</div>
  	</div>
  </div>
</template>