<!-- client/views/view_select_views.html -->
<template name="view_select_views">
	<div class="masthead">
       	<h3 class="text-muted">JimsApp v0.1</h3>
       	<ul class="nav nav-justified">
       		<li><a href="/queue" id="select_queue">View Work Queue</a></li>
       		<li><a href="/order" id="select_order">Create an Order</a></li>
       		<li><a href="/customer" id="select_customer">Add a Customer</a></li>
       		<li><a href="/scan" id="select_scan">Station Scanner</a></li>
        </ul>
    </div>
</template>